// GLOBAL CSS ... 

// extension wrapper
// injected with react app ==> /src/index.js
#jk--chrome--extension {
    position: fixed;
    z-index: 2147483647; // top o' the mountain
}

// you can inject whatever CSS you want into the page
// body { background: crimson; }


